html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
* {
  font-family: "open-sans";
}
body {
    font-family: "open-sans";
}
 .presentation{
  padding-left: 0px;
  padding-top: 0px;
  background-image: "./images/apple-pie.jpg";
  background-size: 100px;
}
h1 {
  display: inline-block;
  position: absolute;
  top: 15em;
  left: 15em;
  color: #FFF;
  text-align: center;
  font-size: 40px;
}
p {
  text-align: center;
  font-size: 20px;
}
.images {
display:block;
margin:auto;
position: relative;
left: 20em;
}

hr {
  display: block;
  position: relative;
  height: 1px;
  align: left;
  width: 35em;
  color: #959591;
}

.ingredients {
  text-align: left;
  font-size: 20px;
}

.directions {
  text-align: left;
  font-size: 20px;
}
